@charset 'utf-8';

/*--------------------------공통변형값--------------------------*/
.clear::after{content: ''; display: block; clear: both;}
.hidden{color: transparent; font-size: 0;}
*{font-size: 1.2rem;}

/*--------------------------공통사항(모바일)--------------------------*/
#wrap{min-width: 320px;}
#container{padding-top: 60px;}


/*header*/
header{background-color: #20cbd3; width: 100%; height: 60px; position: fixed; z-index: 99999;}
header h1{width: 100px; height: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;}
header h1 a{display: block; width: 100%; height: 100%; background: url(../img/home/h_logo.png) no-repeat center / 50px auto;}


header .open_menu{width: 60px; height: 60px; position: absolute; top: 0; left: 0; background: url(../img/home/h_menu.png) no-repeat center / 40px auto;}
header .open_menu.hide{left: -60px;}
header .close_menu{width: 60px; height: 60px; position: absolute; top: 0; left: -60px; background:url(../img/home/close.png) no-repeat center / 40px auto;}
header .close_menu.on{left: 0;}
header nav{position: absolute; top: 60px; left: -200px; width: 200px;/*on -> 200px*/ overflow-x: hidden; background-color: #ffffff; transition: all 0.3s;}
header nav.on{left: 0;}

header nav .user_info .user_img{width: 100px; height: 100px; border-radius: 50%; background-color: #20cbd3; margin: 20px auto;}
header nav .user_info h2{text-align: center; margin-bottom: 10px;}
header nav .user_info h2 a{color: #20cbd3; font-size: 17px;}
header nav .user_info p{color: #20cbd3; font-size: 12px; text-align: center; margin-bottom: 10px;}

header nav .per_btn{display: flex;}
header nav .per_btn a{width: 50%; text-align: center; height: 40px; border-bottom: 2px solid #93e7ef; color: transparent; font-size: 0;}
header nav .per_btn .alram{background: url(../img/home/m_per_btntxt01.png) no-repeat center / 40px auto; background-color: #20cbd3; border-right: 1px solid #93e7ef;}
header nav .per_btn .scrap{background: url(../img/home/m_per_btntxt02.png) no-repeat center / 40px auto; background-color: #20cbd3; border-left: 1px solid #93e7ef;}

header nav .menu_list li a{display: block; width: 100%; height: 40px; background-color: #20cbd3; color: transparent; font-size: 0; border-bottom: 2px solid #93e7ef;}
header nav .menu_list li a.list_01{background-image: url(../img/home/m_menu01.png), url(../img/home/m_menu01_txt.png); background-repeat: no-repeat; background-size: 22px auto, auto 17px; background-position-x: 20px, 50px; background-position-y: 50%;}
header nav .menu_list li a.list_02{background-image: url(../img/home/m_menu02.png), url(../img/home/m_menu02_txt.png); background-repeat: no-repeat; background-size: 22px auto, auto 17px; background-position-x: 20px, 50px; background-position-y: 50%;}
header nav .menu_list li a.list_03{background-image: url(../img/home/m_menu03.png), url(../img/home/m_menu03_txt.png); background-repeat: no-repeat; background-size: 22px auto, auto 17px; background-position-x: 20px, 50px; background-position-y: 50%;}
header nav .menu_list li a.list_04{background-image: url(../img/home/m_menu04.png), url(../img/home/m_menu04_txt.png); background-repeat: no-repeat; background-size: 22px auto, auto 17px; background-position-x: 20px, 50px; background-position-y: 50%;}


footer{padding: 15px; background-color: #777; position: relative;}
footer h2{width: 50px; height: 25px; background-image: url(../img/home/f_logo.png); background-repeat: no-repeat; background-size: 50px auto; background-position: center; margin: 10px auto;}
footer .sns_box{position: absolute; top: 10px; right: 10px;}
footer .sns_box a{display: block; width: 20px; height: 20px; margin-right: 10px; background-repeat: no-repeat; background-size: 20px auto; float: left;}
footer .sns_box a.face{background-image: url(../img/home/f_sns_facebook.png);}
footer .sns_box a.twit{background-image: url(../img/home/f_sns_twitter.png);}
footer .sns_box a.boon{background-image: url(../img/home/f_sns_ilboon.png);}

footer .f_info{width: 160px; height: 30px; margin: 0 auto;}
footer .f_info .info_01{color: #dddddd; float: left;}
footer .f_info .info_02{color: #dddddd; float: right;}

footer .copy{color: #dddddd; text-align: center;}


/*======================테블릿======================*/
@media(min-width:900px){
header .open_menu:hover+nav{width: 600px;}
header nav{display: flex; width: 0px/*on -> 600px*/;}
header nav.on{width: 600px;}
header nav .tablet_pc_01{width: 300px; height: 240px; position: relative;}
header nav .tablet_pc_01 .user_img{margin-bottom: 70px; margin-top: 10px;}
header nav .tablet_pc_01 h2{position: absolute; top: 125px; left: 50%; transform: translateX(-50%);}
header nav .tablet_pc_01 p{position: absolute; top: 150px; left: 50%; transform: translateX(-50%);}
header nav .tablet_pc_01 .per_btn{height: 60px;}
header nav .tablet_pc_01 .per_btn a{height: 100%;}
header nav .menu_list{width: 300px;}
header nav .menu_list li a{height: 60px;}
}





/*========================PC========================*/
@media(min-width:1200px){
.inner{width: 1080px; height: 100%; margin: 0 auto; position: relative;}
header .open_menu:hover+nav{width: 0px;}


footer{padding-bottom: 70px; padding-top: 30px;}
footer h2{display: none;}
footer .sns_box{top: auto; bottom: 30px; right: 50%; transform: translateX(50%);}

}